{% extends "base.html" %}

{% block content %}

<!-- Bio -->
<div class="card mb-3" style="max-width: 540px; margin:auto">
  <div class="row g-0">
      <div class="col-md-4">
      <img src="http://nhl.bamcontent.com/images/headshots/current/168x168/{{player_id}}.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
      <div class="card-body">
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Height: {{player_info.height}}  ||  Weight: {{player_info.weight}} lbs</li>
              <li class="list-group-item">DOB: {{player_info.date_of_birth}}  ||  Age: {{player_info.age}}</li>
              <li class="list-group-item">Nation: {{player_info.nationality}}  ||  City: {{player_info.birth_city}}</li> 
              <li class="list-group-item">Hand: {{player_info.shoots_catches}}  ||  Number: {{player_info.number}}</li>
              </ul>
      </div>
      </div>
  </div>
</div>
<hr class="rounded-thin">
<!-- Table Filtering-->
<div id='filter-stats'>
    <a class="btn btn-primary" href="?filter=nhl_stats" role="button">NHL Stats</a>
    <a class="btn btn-primary" href="?filter=minor_leagues_stats" role="button">Minor League Stats</a>
    <div class="dropdown" id="filter-stats-dropdown">
        <a class="btn btn-primary dropdown-toggle" href="nhl_stats" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Current NHL Splits
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="?filter=home_away_splits">Home/Away</a></li>
          <li><a class="dropdown-item" href="?filter=win_loss_splits">Win/Loss</a></li>
          <li><a class="dropdown-item" href="?filter=monthly_splits">Monthly</a></li>
          <li><a class="dropdown-item" href="?filter=divisional_splits">Divisonal</a></li>
          <li><a class="dropdown-item" href="?filter=team_splits">Opponent</a></li>
        </ul>
      </div>
    
</div>

<!-- TABLE -->
<div>
    <h4 id="filter-title">{{filter_title}}</h4>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% if filter == 'nhl_stats' or filter == 'minor_leagues_stats'%}
        <th>Team</th>
        {% if filter == 'minor_leagues_stats' %}
        <th>League</th>
        {% endif %}
        <th>Season</th>
        {% else %}
        <th>Filter</th>
        {% endif %}
        <th>GP</th>
        <th>G</th>
        <th>A</th>
        <th>P</th>
        {% if filter != 'minor_leagues_stats' %}
        <th>S</th>
        <th>H</th>
        <th>PIM</th>
        <th>+/-</th>
        <th>Blocks</th>
        <th>S%</th>
        <th>PPG</th>
        <th>PPP</th>
        <th>SHG</th>
        <th>SHP</th>
        <th>Shifts</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for stat in player %}
        <tr>
          {% if filter == 'nhl_stats' or filter == 'minor_leagues_stats'%}
            {% if stat.year == '20212022' %}
              <td><a href='/team/{{player_team.id}}'>{{ stat.team_name }}</td>
            {% else %}
              <td>{{ stat.team_name }}</td>
            {% endif %}
            {% if filter == 'minor_leagues_stats' %}
            <td>{{ stat.league }}</td>
            {% endif %}
          <td>{{ stat.year[:4] + '-' + stat.year[4:] }}</td>
            {% else %}
            <td>{{stat.filter}}</td>
            {% endif %}
          <td>{{ stat.stats.games_played }}</td>
          <td>{{ stat.stats.goals }}</td>
          <td>{{ stat.stats.assists }}</td>
          <td>{{ stat.stats.points }}</td>
          {% if filter != 'minor_leagues_stats' %}
          <td>{{ stat.stats.shots }}</td>
          <td>{{ stat.stats.hits }}</td>
          <td>{{ stat.stats.pims }}</td>
          <td>{{ stat.stats.plus_minus }}</td>
          <td>{{ stat.stats.blocks }}</td>
          <td>{{ stat.stats.shot_percent }}</td>
          <td>{{ stat.stats.power_play_goals }}</td>
          <td>{{ stat.stats.power_play_points }}</td>
          <td>{{ stat.stats.short_handed_goals }}</td>
          <td>{{ stat.stats.short_handed_points }}</td>
          <td>{{ stat.stats.shifts }}</td>
          {% endif %}
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="section-seperator">
  <hr class="rounded-thick">
  <h4> NHL Graphs </h4>
  <hr class="rounded-thick">
</div>

<!-- Graphs -->
<div>
  <div id='stats-graph'>
    <h4>Per Game Stats</h4>
    <canvas id="per-game-line-chart" width="900" height="400"></canvas>
  </div>
  <hr class="rounded-thin">
  <div id='stats-graph'>
    <h4>Points Game Log</h4>
    <canvas id="game-log-chart" width="900" height="400"></canvas>
  </div>
  <hr class="rounded-thin">
  <div id='stats-graph'>
    <h4>Goals Per Situation</h4>
    <canvas id="game-situation-chart" width="900" height="400"></canvas>
  </div>
  <hr class="rounded-thin">
  <div id='stats-graph'>
    <h4>Points vs Each Team</h4>
    <canvas id="team-chart" width="900" height="400"></canvas>
  </div>

  <hr class="rounded-thin">
  <div id='stats-graph'>
    <h4>Current Pace vs Career Average</h4>
    <canvas id="on-pace-radar" width="900" height="400"></canvas>
  </div>
  <hr class="rounded-thin">
</div>

{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({ 
      });
    });
  </script>

<!-- LINE GRAPHS -->
  <script>
    var ctx = document.getElementById("per-game-line-chart").getContext("2d");
    var lineChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: {{ labels | safe }},
        datasets: [{
          label: "Points Per Game",
          data: {{ ppg_values | safe }},
          fill: false,
          borderColor: "rgb(0, 204, 0)",
          lineTension: 0.1
          },
          {
            label: "Goals Per Game",
            data: {{ gpg_values | safe }},
            fill: false,
            borderColor: "rgb(204,0,0)",
            lineTension: 0.1
          },
          {
            label: "Assists Per Game",
            data: {{ apg_values | safe}},
            fill: false,
            borderColor: "rgb(0,0,204)",
            lineTension: 0.1
          },
          {
            label: "Shots Per Game",
            data: {{ spg_values | safe}},
            fill: false,
            borderColor: "rgb(240,240,0)",
            lineTension: 0.1
          },
          {
            label: "Hits Per Game",
            data: {{ hpg_values | safe}},
            fill: false,
            borderColor: "rgb(245,155,0)",
            lineTension: 0.1
          },
          {
            label: "PP Points Per Game",
            data: {{ pp_pg_values | safe}},
            fill: false,
            borderColor: "rgb(128,0,128)",
            lineTension: 0.1
          }
        ]
      },
      options: {
        responsive: false
      }
    });

  </script>


<!-- BAR CHART-->
<script>
  var ctx = document.getElementById("game-log-chart").getContext("2d");
  var lineChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: {{ gl_labels | safe }},
      datasets: [{
        label: "Points",
        data: {{ gl_p_values | safe }},
        
        }]
    },
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>

<!-- BAR CHART-->
<script>
  var ctx = document.getElementById("game-situation-chart").getContext("2d");
  var lineChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: {{ gs_labels | safe }},
      datasets: [{
        label: "Goals",
        data: {{ gs_g_values | safe }},
        
        }]
    },
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>

<!-- PIE CHART -->
<script>
  var ctx = document.getElementById("team-chart").getContext("2d");
  var lineChart = new Chart(ctx, {
    type: "pie",
    data: {
      labels: {{ t_labels | safe }},
      datasets: [{
        label: "Points",
        data: {{ t_p_values | safe }},
        hoverOffset: 4,
        backgroundColor: [
          'rgb(206,17,38)',
          'rgb(0,56,168)', 
          'rgb(250,70,22)',
          'rgb(255,184,28)', 
          'rgb(207,10,44)',
          'rgb(166,25,46)',
          'rgb(200,16,46)',  
          'rgb(204,0,0)', 
          'rgb(200,16,46)', 
          'rgb(0,40,104)',
          'rgb(207,10,44)',  
          'rgb(206,17,38)', 
          'rgb(200,16,46)', 
          'rgb(111,38,61)', 
          'rgb(252,76,2)', 
          'rgb(162,170,173)',
          'rgb(0,109,117)',  
          'rgb(0,38,84)',
          'rgb(140,38,51)',  
          'rgb(53,84,100)'
        ]
        }],
     
      }
  });

</script>

<!-- AREA CHART -->
<script>
  var ctx = document.getElementById("on-pace-radar").getContext("2d");
  var lineChart = new Chart(ctx, {
    type: "radar",
    data: {
      labels: {{ op_labels | safe }},
      datasets: [{
        label: 'Current Season Pace',
        data: {{ op_values | safe}},
        fill: true,
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgb(255, 99, 132)',
        pointBackgroundColor: 'rgb(255, 99, 132)',
        pointBorderColor: '#fff',
        pointHoverBackgroundColor: '#fff',
        pointHoverBorderColor: 'rgb(255, 99, 132)'
      },
      {
        label: 'Career Average',
        data: {{ ca_values | safe}},
        fill: true,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgb(54, 162, 235)',
        pointBackgroundColor: 'rgb(54, 162, 235)',
        pointBorderColor: '#fff',
        pointHoverBackgroundColor: '#fff',
        pointHoverBorderColor: 'rgb(54, 162, 235)'
      }],
    },
    options: {
      elements: {
        line: {
          borderWidth: 3,
          responsive: true,
        }
      }
    }
  });

</script>

{% endblock %}