#main-title {
    text-align: center;
    color: brown;
    padding: 20px;
}

#filter-stats {
    padding: 30px;
}

#filter-stats-dropdown {
    padding-top: 20px;
}

#filter-title {
    padding: 5px;
    color: blue;
    text-align: center;
}