#main-title {
    text-align: center;
    color: brown;
    padding: 20px;
}

#filter-stats {
    padding: 30px;
}

#filter-stats-dropdown {
    padding-top: 20px;
}

#filter-title {
    padding: 5px;
    color: blue;
    text-align: center;
}

#line-chart {
    padding: 20px;
}

#stats-graph {
    padding: 40px; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

hr.rounded-thick {
    border-top: 11px solid #bbb;
    border-radius: 5px;
}

hr.rounded-thin {
    border-top: 6px solid #bbb;
    border-radius: 5px;
}

#section-seperator {
    text-align: center;
}

ul.list-group-columns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#leader-cell {
    border: solid 1px #bbb;
    padding: 2px;
}

ul {
    display: block;
    list-style-type: none;
}

li {
    display: inline-block;
}

li a {
    display: block;
}